body{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    color: black;
}
.happy{
    
    
    display: inline;

}
.sad{
    padding-top: 5px;
    display: inline;
}
.css{
    color: blue;
    size: 3cm;
    padding: 22rem;
}
h1{
    color: blue;
    text-decoration:rgb(65, 214, 65)
}
.a{
    
color: rgb(22, 177, 33);
    
}
.b{
    color: rgb(22, 177, 33);
}
.c{
    color: rgb(22, 177, 33);
}
main{
    margin: auto;
    padding-top: 1em;
}
img{
    width: 300px;
    height: 200px;
}