body{
    text-decoration: none;
    margin: 0px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: yellow;
    color: black;
}
.happy{
    
    
    display: inline;

}
.sad{

    display: inline;
}
.css{
    color: blue;
    size: 3cm;
    padding-left: 40px;
}
h1{
    padding-inline-start: 200px;
    color: blue;
    text-decoration:rgb(65, 214, 65)
}
.a{
    
color: rgb(22, 177, 33);
    
}
.b{

    color: rgb(22, 177, 33);
}
.c{
    color: rgb(22, 177, 33);
}
main{
    margin: auto;
    padding-top: 1em;
}
.ii{
    width: 300px;
    height: 200px;
}

