.navbar-brand{
    font-weight: 700;;
}
span{
    font-size: 22px;
    padding-right: 13px;
    padding-left: 2px;
}
header{
    background-color: rgb(68, 68, 147);
    color: aliceblue;
    padding: 4em;
}